.instagram-section {
    padding: 80px 80px;
}

.heading-instagram{
    text-align:center;
    margin-bottom:40px;
}

.heading-instagram h1{
    font-size:42px;
    color:blueviolet;
}

.heading-instagram p{
    color:#777;
    margin-top:10px;
}
.icon-insta {
    position: absolute;
    bottom: 105px;
    left: 44%;
    font-size: 68px;
    color: #ff007e;
    opacity:0;
}
.insta-card:hover .icon-insta{
    opacity:1;
}
.instagram-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.insta-card{
    overflow:hidden;
    border-radius:20px;
    cursor:pointer;
    height:320px;
    position :relative;
}

.insta-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.4s;
}

.insta-card:hover img{
    transform:scale(1.08);
}

@media(max-width:768px){

    .instagram-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:500px){

    .instagram-grid{
        grid-template-columns:1fr;
    }

}