.footer {
  background: #111827;
  color: #fff;
  padding-top: 70px;
}

.footer-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1.2fr;
  gap: 50px;
  padding-bottom: 50px;
}

.footer-logo img {
  width: 300px;
  margin-bottom: 20px;
}
.footer-links li a,
.footer-courses li a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.footer-logo p {
  color: #c9c9c9;
  line-height: 1.8;
  font-size: 15px;
}

.footer-links h2,
.footer-courses h2,
.footer-contact h2 {
  font-size: 22px;
  margin-bottom: 25px;
  position: relative;
}

.footer-links ul,
.footer-courses ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-courses li {
  margin-bottom: 15px;
  color: #d7d7d7;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links li:hover,
.footer-courses li:hover {
  color: #fff;
  transform: translateX(5px);
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.icon,
.f-icon {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover,
.f-icon:hover {
  background: blueviolet;
  transform: translateY(-4px);
}

.footer-courses button {
  margin-top: 20px;
  border: none;
  background: blueviolet;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-courses button:hover {
  background: blueviolet;
}

.contact-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.contact-item svg {
  font-size: 22px;
  color: blueviolet;
  min-width: 22px;
  margin-top: 3px;
}

.contact-item p {
  color: #d7d7d7;
  line-height: 1.7;
  font-size: 15px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bdbdbd;
  font-size: 14px;
}

.bottom-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-links p {
  cursor: pointer;
  transition: 0.3s;
}

.bottom-links p:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .bottom-links {
    justify-content: center;
  }
}